// COLORS
$color-primary: #55c57a;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-white: #fff;
$color-black: #000;

$color-grey-dark: #777;
$color-grey-dark-2: #999;

$color-white: #fff;
$color-black: #000;