/**
* @desc         adds default text styles
* @requires     variables.scss
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.link {
  background-color: rgba(187, 239, 253, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  &:hover {
    background-color: #bbeffd;
    border-bottom-color: #1a1a1a;
  }
}
main a {
  @extend .link;
}
